<IfModule mod_deflate.c>
    AddOutputFilter DEFLATE html xml php js css json
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpe?g|bmp|png|gif|swf)$">
        Header set Cache-Control "max-age=2692000, public"
    </FilesMatch>
    <FilesMatch "\\.(php|html)$">
        Header set Cache-Control "max-age=10, private, must-revalidate"
    </FilesMatch>
    Header unset ETag
</IfModule>

<filesMatch "\.(html|css|js)$">
    AddDefaultCharset UTF-8
</filesMatch>